.body {
  padding: 10px 97px;
  background-color: #d7d7f9;
}

p {
  margin-bottom: 64px;
}

.introduction {
  font-family: monospace;
  font-weight: 550;
  font-size: 38px;
}

.apple {
  font-family: monospace;
  font-size: 32px;
  font-weight: 600;
}

.red {
  font-family: monospace;
  color: red;
  font-size: 32px;
  font-weight: 600;
}

.blue {
  font-family: monospace;
  color: blue;
  font-size: 32px;
  font-weight: 600;
}

.green {
  font-family: monospace;
  color: green;
  font-size: 32px;
  font-weight: 600;
}

.purple {
  font-family: monospace;
  color: purple;
  font-size: 32px;
}

.text {
  font-size: 29px;
}
